#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #4B525B;

  display: flex;
  justify-content: center;
  flex-direction: column;
}



.divider {
  width: 80%;
  height: 0.2em;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1%/100%;
  margin-top: 1em;
  margin-bottom: 1em;

  background-color: #4B525B;
}