.projectsTitle {
    text-align: left;
    font-weight: 800;
    font-size: 4em;
}

.projectsCont {
    text-align: left;

    margin-top: 2em;
}



.projectName {
    font-weight: 700;
    font-size: 4em;
}

.projectDesCont {
    margin: 2em;
}

.projectsCardCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;

}

@media only screen and (max-width: 900px) {
    .projectsCardCont {
        flex-wrap: wrap;
        max-height: 100vh;
    }


    .projectsCont {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .github {
        width: 0.5em;
        height: 0.5em;
    }

    .projectsImage {
        display: none;
        height: 0;
        width: 0;
        opacity: 0;
    }
}


.projectsTechUsedCont {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;


}

.projectsImage {
    display: block;

}

.techUsed {
    font-size: 0.7em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.4em;
    border-radius: 0.3em;
    border-style: solid;
    border-radius: 2em;
    color: white;


}

.github {
    height: 2em;
    width: 2em;

}

.imageOverlay {
    background-color: rgba(94, 97, 127, 0.4);
}